<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/Data_Reorg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np

# Load the dataset
dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv'
df_ges1 = pd.read_csv(dataset_1)

df_ges2 = df_ges1.copy()

# Remove rows where 'University' is 'Singapore University of Social Sciences'
df_ges2 = df_ges2[df_ges2['university'] != 'Singapore University of Social Sciences']

df_ges3 = df_ges2.copy()

# Define keywords related to Information Technology
it_keywords = ['Information', 'Data', 'Software', 'Cybersecurity',
               'Cyber', 'Artificial Intelligence', 'Artificial', 'Machine Learning',
               'Computing', 'Computer']

# Filter rows that contain any of the IT-related keywords in the 'Degree' column
df_ges3 = df_ges3 [df_ges3 ['degree'].str.contains('|'.join(it_keywords), case=False, na=False)]

df_ges4 = df_ges3.copy()

df_ges4 = df_ges4.drop(columns=['school'])

df_ges5 = df_ges4.copy()

# df_ges5.to_csv("ges4data.csv", index=False) #IF you were to Download csv, you will see 'na' strings

# Replace the string 'na' with actual NaN (np.nan)
df_ges5.replace('na', np.nan, inplace=True)

# Count NaN values in each column
na_counts = df_ges5.isna().sum()

df_ges5.isnull().sum(axis=0)

# Remove rows with any NA values
df_ges5 = df_ges5.dropna()

df_ges6 = df_ges5.copy()

# List of columns to remove
columns_to_remove = [
    'degree',
    'employment_rate_overall',
    'basic_monthly_mean',
    'basic_monthly_median',
    'gross_mthly_25_percentile',
    'gross_mthly_75_percentile'
]

# Remove the columns if they exist
df_ges6 = df_ges6.drop(columns=[col for col in columns_to_remove if col in df_ges1.columns])

# print(df_ges6.dtypes) #Notice All DataType is in Object

df_ges7 = df_ges6.copy()

# Convert columns to numeric
columns_to_convert = [
    "employment_rate_ft_perm",
    "gross_monthly_mean", "gross_monthly_median",
]

for column in columns_to_convert:
    # Replace commas or other problematic characters if needed
    df_ges7[column] = df_ges7[column].astype(str).str.replace(',', '')

    # Remove leading/trailing whitespace
    df_ges7[column] = df_ges7[column].str.strip()

    # Convert to numeric
    df_ges7[column] = pd.to_numeric(df_ges1[column], errors='coerce')

df_ges8 = df_ges7.copy()

# Group by 'Year' and 'University', aggregating the specified columns using mean
df_ges8 = df_ges8.groupby(['year', 'university'], as_index=False).agg({
    'employment_rate_ft_perm': 'mean',
    'gross_monthly_mean': 'mean',
    'gross_monthly_median': 'mean'
})

df_ges9 = df_ges8.copy()

# Define the mapping of university names to new values
university_mapping = {
    'Nanyang Technological University': 'NTU_IT',
    'National University of Singapore': 'NUS_IT',
    'Singapore Management University': 'SMU_IT',
    'Singapore Institute of Technology': 'SIT_IT',
    'Singapore University of Technology and Design': 'SUTD_IT'
}

# Replace values in the 'university' column
df_ges9['university'] = df_ges9['university'].replace(university_mapping)

print(df_ges9)

    year university  employment_rate_ft_perm  gross_monthly_mean  \
0   2013     NTU_IT                85.950000         3374.500000
1   2013     NUS_IT                82.780000         3525.000000
2   2013     SMU_IT                90.200000         3665.000000
3   2014     NTU_IT                86.250000         3391.250000
4   2014     NUS_IT                87.620000         3555.600000
5   2014     SIT_IT                94.033333         3002.000000
6   2014     SMU_IT                82.400000         3840.500000
7   2015     NTU_IT                88.600000         3720.500000
8   2015     NUS_IT                91.020000         3686.600000
9   2015     SIT_IT                89.066667         3358.666667
10  2015     SMU_IT                89.000000         3747.000000
11  2015    SUTD_IT                83.700000         3952.000000
12  2016     NTU_IT                87.300000         3914.500000
13  2016     NUS_IT                91.066667         4098.666667
14  2016     SIT_IT                86.650000         3469.500000
15  2016     SMU_IT                93.250000         4250.000000
16  2016    SUTD_IT                91.900000         4232.000000
17  2017     NTU_IT                87.050000         4229.500000
18  2017     NUS_IT                88.633333         4317.000000
19  2017     SIT_IT                89.825000         3627.500000
20  2017     SMU_IT                92.700000         4159.500000
21  2017    SUTD_IT               100.000000         4175.000000
22  2018     NTU_IT                94.450000         4074.750000
23  2018     NUS_IT                90.466667         4439.333333
24  2018     SIT_IT                90.116667         3883.166667
25  2018     SMU_IT                93.350000         4409.500000
26  2018    SUTD_IT                93.300000         4544.000000
27  2019     NTU_IT                89.775000         4237.750000
28  2019     NUS_IT                92.733333         4877.666667
29  2019     SIT_IT                92.700000         4227.600000
30  2019     SMU_IT                93.100000         4880.500000
31  2019    SUTD_IT                85.700000         4636.000000
32  2020     NTU_IT                86.975000         4609.750000
33  2020     NUS_IT                87.200000         4935.600000
34  2020     SIT_IT                80.100000         4213.166667
35  2020     SMU_IT                88.600000         4873.500000
36  2020    SUTD_IT                85.400000         4734.000000
37  2021     NTU_IT                89.175000         5168.500000
38  2021     NUS_IT                95.820000         5353.600000
39  2021     SIT_IT                89.660000         4716.000000
40  2021     SMU_IT                94.100000         5202.500000
41  2021    SUTD_IT                96.700000         5030.000000
42  2022     NTU_IT                90.620000         5945.000000
43  2022     NUS_IT                93.940000         6087.200000
44  2022     SIT_IT                90.983333         5053.076838
45  2022     SMU_IT                93.900000         5635.500000
46  2022    SUTD_IT                86.800000         5725.000000

    gross_monthly_median
0            3225.000000
1            3152.000000
2            3550.000000
3            3312.500000
4            3357.600000
5            2991.666667
6            3700.000000
7            3664.500000
8            3610.000000
9            3261.000000
10           3650.000000
11           3950.000000
12           3737.500000
13           3966.666667
14           3500.000000
15           3883.500000
16           4000.000000
17           4037.500000
18           4061.666667
19           3512.500000
20           4167.000000
21           4023.000000
22           4025.000000
23           4251.000000
24           3860.166667
25           4342.500000
26           4400.000000
27           4258.250000
28           4409.333333
29           4138.000000
30           4650.000000
31           4400.000000
32           4450.000000
33           4773.600000
34           4183.333333
35           4771.000000
36           4500.000000
37           4950.000000
38           5320.000000
39           4450.000000
40           5175.000000
41           4800.000000
42           5574.000000
43           5820.000000
44           4878.333333
45           5519.000000
46           5190.000000

In [32]:
df_ges8.to_csv("ges8data.csv", index=False)

In [10]:
'''
print(df_ges1.shape)
print(df_ges2.shape)
print(df_ges3.shape)
'''

df_ges5.to_csv("ges4data.csv", index=False)