<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/Project_SourceCode_P4_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/bank_transactions_data_2.csv'

ds1 = pd.read_csv(dataset_1, index_col = 0)

print(ds1)

              AccountID  TransactionAmount      TransactionDate  \
TransactionID
TX000001        AC00128              14.09  2023-04-11 16:29:14
TX000002        AC00455             376.24  2023-06-27 16:44:19
TX000003        AC00019             126.29  2023-07-10 18:16:08
TX000004        AC00070             184.50  2023-05-05 16:32:11
TX000005        AC00411              13.45  2023-10-16 17:51:24
...                 ...                ...                  ...
TX002508        AC00297             856.21  2023-04-26 17:09:36
TX002509        AC00322             251.54  2023-03-22 17:36:48
TX002510        AC00095              28.63  2023-08-21 17:08:50
TX002511        AC00118             185.97  2023-02-24 16:24:46
TX002512        AC00009             243.08  2023-02-14 16:21:23

              TransactionType          Location DeviceID      IP Address  \
TransactionID
TX000001                Debit         San Diego  D000380  162.198.218.92
TX000002                Debit           Houston  D000051     13.149.61.4
TX000003                Debit              Mesa  D000235  215.97.143.157
TX000004                Debit           Raleigh  D000187  200.13.225.150
TX000005               Credit           Atlanta  D000308    65.164.3.100
...                       ...               ...      ...             ...
TX002508               Credit  Colorado Springs  D000625    21.157.41.17
TX002509                Debit            Tucson  D000410  49.174.157.140
TX002510                Debit         San Diego  D000095     58.1.27.124
TX002511                Debit            Denver  D000634   21.190.11.223
TX002512               Credit      Jacksonville  D000215   59.127.135.25

              MerchantID Channel  CustomerAge CustomerOccupation  \
TransactionID
TX000001            M015     ATM           70             Doctor
TX000002            M052     ATM           68             Doctor
TX000003            M009  Online           19            Student
TX000004            M002  Online           26            Student
TX000005            M091  Online           26            Student
...                  ...     ...          ...                ...
TX002508            M072  Branch           33             Doctor
TX002509            M029  Branch           48             Doctor
TX002510            M087  Branch           56            Retired
TX002511            M041  Online           23            Student
TX002512            M041  Online           24            Student

               TransactionDuration  LoginAttempts  AccountBalance  \
TransactionID
TX000001                        81              1         5112.21
TX000002                       141              1        13758.91
TX000003                        56              1         1122.35
TX000004                        25              1         8569.06
TX000005                       198              1         7429.40
...                            ...            ...             ...
TX002508                       109              1        12690.79
TX002509                       177              1          254.75
TX002510                       146              1         3382.91
TX002511                        19              1         1776.91
TX002512                        93              1          131.25

              PreviousTransactionDate
TransactionID
TX000001          2024-11-04 08:08:08
TX000002          2024-11-04 08:09:35
TX000003          2024-11-04 08:07:04
TX000004          2024-11-04 08:09:06
TX000005          2024-11-04 08:06:39
...                               ...
TX002508          2024-11-04 08:11:29
TX002509          2024-11-04 08:11:42
TX002510          2024-11-04 08:08:39
TX002511          2024-11-04 08:12:22
TX002512          2024-11-04 08:07:49

[2512 rows x 15 columns]