<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/V2_Project_SourceCode_P4_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset data = pd.read_csv("/content/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv")
dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv'

df_ges1 = pd.read_csv(dataset_1)

In [ ]:
# Replace the string 'na' with actual NaN (np.nan)
df_ges1.replace('na', np.nan, inplace=True)

# Count NaN values in each column
na_counts = df_ges1.isna().sum()

# Print the result
print(na_counts)

In [115]:
# Remove rows with any NaN values
df_ges1.dropna()

# Copy ges1 DataFrame into another DataFrame
df_clean_ges = df_ges1[:]

In [ ]:
columns_to_convert = [
    "employment_rate_overall", "employment_rate_ft_perm",
    "basic_monthly_mean", "basic_monthly_median",
    "gross_monthly_mean", "gross_monthly_median",
    "gross_mthly_25_percentile", "gross_mthly_75_percentile"
]

for column in columns_to_convert:
    # Replace commas or other problematic characters if needed
    df_clean_ges[column] = df_clean_ges[column].astype(str).str.replace(',', '')

    # Remove leading/trailing whitespace
    df_clean_ges[column] = df_clean_ges[column].str.strip()

    # Convert to numeric
    df_clean_ges[column] = pd.to_numeric(df_clean_ges[column], errors='coerce')

# Check if conversion worked
print(df_clean_ges.dtypes)

In [117]:
#Extract NTU and NUS DataFrames respectively
df_clean_ges_ntu = df_clean_ges.loc[df_clean_ges['university'] == 'Nanyang Technological University']
df_clean_ges_nus = df_clean_ges.loc[df_clean_ges['university'] == 'National University of Singapore']

In [121]:
# Group by year and school cluster (college level)
df_ntu_grouped = df_clean_ges_ntu.groupby(['year', 'university', 'school']).mean(numeric_only=True).reset_index()

print(df_ntu_grouped)

,year,university,school,employment_rate_overall,employment_rate_ft_perm,basic_monthly_mean,basic_monthly_median,gross_monthly_mean,gross_monthly_median,gross_mthly_25_percentile,gross_mthly_75_percentile
50,2021,Nanyang Technological University,College of Science,92.233333,78.216667,3553.166667,3518.666667,3651.500000,3559.333333,3272.333333,3933.333333
51,2021,Nanyang Technological University,Lee Kong Chian School of Medicine,100.000000,100.000000,4702.000000,4700.000000,5404.000000,5500.000000,5200.000000,5800.000000
52,2021,Nanyang Technological University,National Institute of Education (NIE),100.000000,100.000000,3570.500000,3765.000000,3757.000000,3842.000000,3713.500000,3950.000000
53,2021,Nanyang Technological University,Sports Science and Management,86.200000,55.400000,3292.000000,3300.000000,3438.000000,3300.000000,3100.000000,3620.000000
54,2022,Nanyang Technological University,College of Business (Nanyang Business School),97.700000,95.250000,5038.000000,4608.250000,5185.250000,4764.250000,4341.750000,5707.500000
55,2022,Nanyang Technological University,College of Engineering,93.792857,91.300000,4718.214286,4550.000000,4861.571429,4658.428571,4138.000000,5345.357143
56,2022,Nanyang Technological University,"College of Humanities, Arts & Social Sciences",89.708333,76.200000,3721.166667,3642.666667,3809.333333,3738.333333,3313.333333,4149.166667
57,2022,Nanyang Technological University,College of Science,90.585714,79.900000,3925.571429,3765.428571,4056.857143,3835.428571,3523.142857,4319.142857
58,2022,Nanyang Technological University,Lee Kong Chian School of Medicine,100.000000,100.000000,4779.000000,4700.000000,5532.000000,5600.000000,5199.000000,6000.000000
59,2022,Nanyang Technological University,National Institute of Education (NIE),100.000000,91.466667,3815.666667,3875.000000,3999.333333,3926.333333,3650.000000,4345.333333

In [120]:
df_ntu_grouped.dtypes

year                           int64
university                    object
school                        object
employment_rate_overall      float64
employment_rate_ft_perm      float64
basic_monthly_mean           float64
basic_monthly_median         float64
gross_monthly_mean           float64
gross_monthly_median         float64
gross_mthly_25_percentile    float64
gross_mthly_75_percentile    float64
dtype: object