<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/V2_Project_SourceCode_P4_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset data = pd.read_csv("/content/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv")
dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv'

df_ges1 = pd.read_csv(dataset_1)

In [ ]:
# Replace the string 'na' with actual NaN (np.nan)
df_ges1.replace('na', np.nan, inplace=True)

# Count NaN values in each column
na_counts = df_ges1.isna().sum()

# Print the result
print(na_counts)

In [4]:
# Remove rows with any NaN values
df_clean_ges = df_ges1.dropna()

In [9]:
df_clean_ges_ntu = df_clean_ges.loc[df_clean_ges['university'] == 'Nanyang Technological University']
df_clean_ges_nus = df_clean_ges.loc[df_clean_ges['university'] == 'National University of Singapore']