<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/V2_Project_SourceCode_P4_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset data = pd.read_csv("/content/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv")
dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv'

df_ges1 = pd.read_csv(dataset_1)

In [6]:
# Replace the string 'na' with actual NaN (np.nan)
df_ges1.replace('na', np.nan, inplace=True)

# Count NaN values in each column
na_counts = df_ges1.isna().sum()

# Print the result
print(na_counts)

year                          0
university                    0
school                       32
degree                        0
employment_rate_overall      92
employment_rate_ft_perm      92
basic_monthly_mean           92
basic_monthly_median         92
gross_monthly_mean           92
gross_monthly_median         92
gross_mthly_25_percentile    92
gross_mthly_75_percentile    92
dtype: int64

In [7]:
# Remove rows with any NaN values
df_clean_ges = df_ges1.dropna()

In [1]:
df_clean_ges_ntu = df_clean_ges[:, ['Nanyang Technological University']]

NameError: name 'df_clean_ges' is not defined