<a href="https://colab.research.google.com/github/cheonghf/ML-P4-03/blob/main/V2_Project_SourceCode_P4_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset data = pd.read_csv("/content/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv")
dataset_1 = 'https://raw.githubusercontent.com/cheonghf/ML-P4-03/refs/heads/main/GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv'

df_ges1 = pd.read_csv(dataset_1)

In [71]:
# Replace the string 'na' with actual NaN (np.nan)
df_ges1.replace('na', np.nan, inplace=True)

# Count NaN values in each column
na_counts = df_ges1.isna().sum()

# Print the result
print(na_counts)

year                          0
university                    0
school                       32
degree                        0
employment_rate_overall      92
employment_rate_ft_perm      92
basic_monthly_mean           92
basic_monthly_median         92
gross_monthly_mean           92
gross_monthly_median         92
gross_mthly_25_percentile    92
gross_mthly_75_percentile    92
dtype: int64

In [81]:
# Remove rows with any NaN values
df_ges1.dropna()

# Copy ges1 DataFrame into another DataFrame
df_clean_ges = df_ges1[:]

In [85]:
columns_to_convert = [
    "employment_rate_overall", "employment_rate_ft_perm",
    "basic_monthly_mean", "basic_monthly_median",
    "gross_monthly_mean", "gross_monthly_median",
    "gross_mthly_25_percentile", "gross_mthly_75_percentile"
]

# Ensure all values in the columns are converted to strings before stripping whitespace
df_clean_ges.loc[:, columns_to_convert] = df_clean_ges.loc[:, columns_to_convert].astype(str).apply(lambda x: x.str.strip())

# Now apply pd.to_numeric
df_clean_ges.loc[:, columns_to_convert] = df_clean_ges.loc[:, columns_to_convert].apply(pd.to_numeric, errors='coerce')

df_clean_ges.dtypes

year                          int64
university                   object
school                       object
degree                       object
employment_rate_overall      object
employment_rate_ft_perm      object
basic_monthly_mean           object
basic_monthly_median         object
gross_monthly_mean           object
gross_monthly_median         object
gross_mthly_25_percentile    object
gross_mthly_75_percentile    object
dtype: object

In [18]:
df_clean_ges_ntu = df_clean_ges.loc[df_clean_ges['university'] == 'Nanyang Technological University']
df_clean_ges_nus = df_clean_ges.loc[df_clean_ges['university'] == 'National University of Singapore']

In [24]:
# Group by year and school cluster (college level)
ntu_grouped = df_clean_ges_ntu.groupby(['year', 'university', 'school']).mean(numeric_only=True).reset_index()

ntu_grouped.tail()

<ipython-input-24-b737570b51d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_ges_ntu[df_clean_ges_ntu.columns[3:]] = df_clean_ges_ntu[df_clean_ges_ntu.columns[3:]].apply(pd.to_numeric, errors='coerce')

,year,university,school,degree,employment_rate_overall,employment_rate_ft_perm,basic_monthly_mean,basic_monthly_median,gross_monthly_mean,gross_monthly_median,gross_mthly_25_percentile,gross_mthly_75_percentile
54,2022,Nanyang Technological University,College of Engineering,NaN,93.792857,91.300000,4718.214286,4550.000000,4861.571429,4658.428571,4138.000000,5345.357143
55,2022,Nanyang Technological University,"College of Humanities, Arts & Social Sciences",NaN,89.708333,76.200000,3721.166667,3642.666667,3809.333333,3738.333333,3313.333333,4149.166667
56,2022,Nanyang Technological University,College of Science,NaN,90.585714,79.900000,3925.571429,3765.428571,4056.857143,3835.428571,3523.142857,4319.142857
57,2022,Nanyang Technological University,Lee Kong Chian School of Medicine,NaN,100.000000,100.000000,4779.000000,4700.000000,5532.000000,5600.000000,5199.000000,6000.000000
58,2022,Nanyang Technological University,National Institute of Education (NIE),NaN,100.000000,91.466667,3815.666667,3875.000000,3999.333333,3926.333333,3650.000000,4345.333333